@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <header>
        <div class="logo">E-Garage</div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="book.html">Book</a></li>
                <li><a href="shop.html" class="active">Shop</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section class="shop-section">
        <h1>Spare Parts Store</h1>
        <div class="shop-items" id="shopItems">
            <!-- JS will populate items here -->
        </div>
    </section>

}
